@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

* {
  font-family: Pretendard;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  box-sizing: content-box;
  font-family: Pretendard;
}

:root {
  --primary: #994ada;
  --secondary: #994ada;
}
